{% extends 'main/base.html' %}
{% load static %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/album_styles.css' %}">
{% endblock %}

{% block title %}Albums{% endblock %}
{% block page_title %}All Albums{% endblock %}
{% block subtitle %}All Albums created by users will appear here{% endblock %}
</head>
{% block content %}     

    <body>
        <div class="page-body">
            <div class="ui doubling stackable five column grid">
                {% for album in albums %}
                <div class="column">                    
                    <div class="album_item_container" onclick="goToAlbum('{{album.id}}')">

                        <div class="album_image">
                            {% if album.coverpic %}
                            <img src="{{album.coverpic.url}}">
                            {% else %}
                                <img src="https://images.propstore.com/198739.jpg">
                            {% endif %}
                        </div>

                        <div class="album_title">
                            <p>{{album.title}}</p>
                            <p>Created by: {{album.created_by}}</p>
                            <p>Date: {{album.time}}</p>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </body>
    

{% endblock %}
{% block script %}<script src="{% static '' %}"></script>{% endblock %}