{% extends 'main/base.html' %}
{% load static %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block title %}Album Detail{% endblock %}
{% block page_title %}Album Title{% endblock %}
{% block subtitle %}Album Caption{% endblock %}
</head>
{% block content %}     

    <body>
        <div class="page-body">
            <div>
                <p>Photos from thsi album will appear here</p>
            </div>
        </div>
        
    </body>
    

{% endblock %}
{% block script %}<script src="{% static '' %}"></script>{% endblock %}