{% extends 'main/base.html' %}
{% load static %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/album_styles.css' %}">
{% endblock %}

{% block title %}Albums{% endblock %}
{% block page_title %}All Albums{% endblock %}
{% block subtitle %}All Albums created by users will appear here{% endblock %}
</head>
{% block content %}     

    <body>
        <div class="page-body">

            <div id="buttons">
                <a href="/albums/create_album" id="create-album-button" class="ui secondary button">Create Album</a>
            </div>

            <div class="ui doubling stackable five column grid">
                {% for album in albums %}
                <div class="column">                    
                    <div class="album_item_container" onclick="goToAlbum('{{album.slug}}')">

                        <div class="album_image">
                            {% if album.coverpic %}
                            <img class="ui rounded image" src="{{album.coverpic.url}}">
                            {% else %}
                                <img class="ui rounded image" src="https://images.propstore.com/198739.jpg">
                            {% endif %}
                        </div>

                        <div class="album_title">
                            <p>{{album.title}}</p>
                            Created by: <a class="profile-link" href="/profile/{{album.created_by}}">{{album.created_by}}</a>
                            <br>
                            Pictures: {{album.photos.all | length}}
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </body>
    

{% endblock %}
{% block script %}<script src="{% static 'scripts/js/albums.js' %}"></script>{% endblock %}