{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/album_styles.css' %}">
{% endblock %}

{% block title %}{{album.title}}{% endblock %}
{% block page_title %}Picture by {{picture.created_by}}{% endblock %}
{% block subtitle %}{{picture.caption}}{% endblock %}
</head>
{% block content %}     

    <body>
        <div class="page-body">

            <div id="buttons">
                <a href="/albums/{{album.slug}}" id="album-button" class="ui secondary button">Back</a>
            </div>

            <div class="picture_detail">
                <img src="{{picture.photo.url}}">
            </div>
        </div>

        <div id="comments-section" class="ui one column grid">
            <div class="column">
                <div id="comment-post-button">
                    <button class="ui secondary button" onclick="showCommentForm()">POST COMMENT</button>
                </div>
                <div id="comment-form">
                    <form method="post">
                        {{form | crispy}}
                        {% csrf_token %}
                        <button class="ui secondary button" onclick="closeCommentBox()">Close</button>
                        <button type="submit" class="ui secondary button">Post</button>                        
                    </form>
                </div>
                {% for comment in picture.comments.all %}
                <div class="parent-comment">
                    <div class="comment-author">
                        <p><strong>{{comment.author}} | {{comment.time}}:</strong></p>
                    </div>
                    <div class="comment-body">
                        <p>{{comment.body | linebreaks}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        
    </body>
    

{% endblock %}
{% block script %}<script src="{% static 'scripts/js/albums.js' %}"></script>{% endblock %}