{% extends 'main/base.html' %}
{% load static %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/album_styles.css' %}">
{% endblock %}

{% block title %}Picture Detail{% endblock %}
{% block page_title %}Picture Title{% endblock %}
{% block subtitle %}Picture Caption{% endblock %}
</head>
{% block content %}     

    <body>
        <div class="page-body">

            <div id="buttons">
                <a href="/albums/{{album.slug}}" id="album-button" class="ui secondary button">Back</a>
            </div>

            <div>
                <img src="{{picture.photo.url}}">
                <p>{{picture.caption}}</p>
            </div>
        </div>
        
    </body>
    

{% endblock %}
{% block script %}<script src="{% static '' %}"></script>{% endblock %}