
.album_item_container {
    display: inline-table;
    background-color: black;
    padding: 5px;
    border: 1px solid slategray;
    border-radius: 5%;
    opacity: 65%;
    height: 22rem;
    /* height: 22rem; */
    width: 100%;
}
.album_item_container:hover {
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.05);
    z-index: 9;
}
.album_image img {
    width: 100%;
    height: 75%;
    max-width: 100%;
    max-height: 200px;
    image-orientation: from-image;
}
.album_title {
    overflow: hidden;
    text-overflow: ellipsis;
}