#aboutme {
    margin-top: 5px;
    text-align: center;
}

.page-body {
    margin: 1%;
    text-align: center;
}

.welcome-banner {
    margin-bottom: 30px;
}

/* .column {
    border: 1px solid white;
} */