/* =====ALL===== */

#buttons {
    margin-bottom: 10px;
}

/* =====ideaS===== */
.idea-item-container {
    text-align: center;
    /* margin: 10px; */
    background-color: rgba(59, 64, 61, 0.85);
    border: 1px solid slategray;
    border-radius: 2%;
    /* opacity: 65%; */
    padding: 5px;
    width: 100%;
    height: 400px;
    /* white-space: nowrap; */
    overflow-y: scroll;
    text-overflow: clip;
    scrollbar-width: None;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* THIS DOESN'T WORK */
.idea-item-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.idea-author {
    margin-top: -5px;
    margin-bottom: 5px;
}
.idea-title {
    margin-bottom: 10px;
}
.idea-title:hover {
    cursor: pointer;
}
.idea-image {
    margin-bottom: 10px;
    max-width: 90%;
    height: 10%;
}
.idea-image:hover {
    cursor: pointer;
}
.control-buttons {
    margin-bottom: 5px;
}
.control-buttons {
    cursor: pointer;
}
.idea-body:hover {
    cursor: pointer;
}

/* =====idea DETAIL===== */

.ideapara {
    margin-bottom: 15px;
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */

    /* -ms-word-break: break-all; */
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#main-idea-section {
    padding-top: 10px;
    margin-top: 10px;
    border-right: 1px solid white;
    /* word-wrap: break-word; */
}

#comments-section {
    margin-bottom: 5px;
    padding-top: 5px;
}

#ideaimage1 {
    width: 80%;
    height: 70%;
    border-radius: 10%;
    image-orientation: from-image;
}
@media(max-width: 770px){
    #ideaimage1 {
        width: 80%;
        height: 80%;
    }
}


.imgcolumn {
    text-align: center;
}

#comment-form {
    display: none;
}

#comment-post-button {
    display: block;
}

.parent-comment {
    margin: 10px;
    background: rgba(59, 64, 61, 0.85);
    padding: 5px;
    border-radius: 4%;
}
.comment-author {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
    border-bottom: 1px dashed white;
    padding-bottom: 2px;
}
.comment-body {
    margin: 5px;
    margin-top: -10px;
    /* margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px; */
    /* padding: 1px; */
}
