body {
    text-align: center;  
    color: white;
}

.bg-image img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: brightness(40%);
    z-index: 0;
    image-orientation: from-image;
}

.user-form {
    z-index: 1;
    position: relative;
    margin: 15% 35% 10% 35%;
    padding: 10px;
    border: 1px dotted white;
    border-radius: 20%;
    border-width: 5px;
}
.logout-menu {
    z-index: 1;
    position: relative;
    margin: 15% 35% 10% 35%;
    padding: 10px;
    /* border: 1px dotted white; */
    border-radius: 20%;
    border-width: 5px;
}

