{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block title %}Profile - {{user.username}}{% endblock %}
{% block page_title %}{{user.username}}{% if user.profile.role == 'BC' %} - Battery Commander{% elif user.profile.role == 'BSM' %} - Battery Sergeant Major{% endif %}{% endblock %}
{% block subtitle %}{{user.email}}{% endblock %}
</head>
{% block content %}     

    <body>
        <div class="page-body">



            <div class="profilepic">
                <p><strong>{{user.username}} - {{user.profile.role}}</strong></p>
                <img class="ui tiny circular image" src="{{ user.profile.image.url }}">
                <p></p>
            </div>




        </div>
        
    </body>
    

{% endblock %}
{% block script %}<script src="{% static '' %}"></script>{% endblock %}