{% extends 'main/base.html' %}
{% load static %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}29 Commando{% endblock %}
{% block page_title %}29 Commando Online{% endblock %}
{% block subtitle %}An online repository for non security sensitive media{% endblock %}
</head>
{% block content %}     

        <div class="page-body">
            
            <div class="welcome-banner">
                <h3>Welcome to 29 Commando Online</h3>
                <p>This website is open to all ranks. Its purpose is for members to share media with everyone else - great pictures they've taken of things they've done or witnessed with the Regiment.</p>
                <p>Once your account is approved, you will be able to upload photo albums and pictures, submit ideas, post comments, and view others' profiles to see what they have contributed.</p>                
                
            </div>

            
            {% if request.user.profile.approved %}
            <hr>
            <div class = "ui stackable four column inverted divided grid">

                <div class="row">

                    <div class="column">

                        <div class = "">
                            <h4>Notices</h4>
                            <p>Staff will post information, updates and announcements in the <a class="profile-link" href="/notices">NOTICES</a> section. Only staff can post notices, but everyone is able to comment.</p>
                        </div>
    
                    </div>

                    <div class="column">

                        <div class = "">
                            <h4>Ideas</h4>
                            <p>The <a class="profile-link" href="/ideas">IDEAS</a> section is open to all ranks to post and comment. All ideas, suggestions and requests are welcome - training, food, accommodation, you name it. Be security aware, or the idea may be removed.</p>
                        </div>

                    </div>

                    <div class="column">

                        <div class = "">
                            <h4>Albums</h4>
                            <p>The <a class="profile-link" href="/albums">ALBUMS</a> section is open to all ranks. This is where you can upload photos and create albums for related photos.</p>
                        </div>

                    </div>


    
                    <div class="column">

                        <div class = "">
                            <h4>Profiles</h4>
                            <p>Your <a class="profile-link" href="/profile/{{request.user.username}}">PROFILE</a> page is your page. Here your latest albums, photos, posts and comments will be displayed for others and yourself to see, as well as some personal information you choose to share.</p>

                        </div> 
                        
                    </div>


                </div>

                <div class="row">
                    <div class="column">
                        {% if notices %}
                        <h5>Latest Notices</h5>


                        <div class="table-container">
                            <table class="ui celled inverted table">
    
                                <thead>
                                  <tr>
                                    <th>Creator</th>
                                    <th>Title</th>
                                    <th>Date/Time</th>
                                  </tr>
                                </thead>
        
                                <tbody>
    
                                {% for notice in notices %}
                                  <tr class="profile-link" onclick="goToNotice('{{notice.id}}')">
                                    <td>{{notice.created_by}} - {{notice.created_by.profile.role}}</td>
                                    <td>{{notice.title}}</td>
                                    <td>{{notice.time}}</td>
                                  </tr>
                                  {% endfor %}
    
                                </tbody>
    
                              </table>
                        </div>



                          {% endif %}
                    </div>

                        
                    <div class="column">
                        {% if ideas %}
                        <h5>Latest Ideas</h5>

                        <div class="table-container">
                            <table class="ui celled inverted table">
    
                                <thead>
                                  <tr>
                                    <th>Creator</th>
                                    <th>Title</th>
                                    <th>Date/Time</th>
                                  </tr>
                                </thead>
        
                                <tbody>
                                {% for idea in ideas %}
                                  <tr class="profile-link" onclick="goToIdea('{{idea.id}}')">
                                    <td>{{idea.created_by}}</td>
                                    <td>{{idea.title}}</td>
                                    <td>{{idea.time}}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>

                          {% endif %}
                    </div>

                    <div class="column">
                        {% if albums %}
                        <h5>Latest Albums</h5>
                        <div class="table-container">
                            <table class="ui celled inverted table">
    
                                <thead>
                                  <tr>
                                    <th>Creator</th>
                                    <th>Title</th>
                                    <th>Date/Time</th>
                                  </tr>
                                </thead>
        
                                <tbody>
                                {% for album in albums %}
                                  <tr class="profile-link" onclick="goToAlbum('{{album.slug}}')">
                                    <td>{{album.created_by}}</td>
                                    <td>{{album.title}}</td>
                                    <td>{{album.time}}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>

                          {% endif %}
    
                    </div>

                    <div class="column">
                        <h5>Users</h5>
                        <div class="table-container">
                            <p class="ui inverted segment"><strong>Active users:</strong> {{users|length}}</p>
                            
                        </div>
                    </div>
                </div>

                

            </div>
            {% endif %}
            
        </div>
        
    

{% endblock %}
{% block script %}<script src="{% static 'scripts/js/home.js' %}"></script>{% endblock %}