{% extends 'main/base.html' %}
{% load static %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}29 Commando{% endblock %}
{% block page_title %}29 Commando Media{% endblock %}
{% block subtitle %}A central repository for grassroots media{% endblock %}
</head>
{% block content %}     

        <div class="page-body">
            <div>
                <p>Photo site for us</p>
            </div>
            
        </div>
        
    

{% endblock %}
{% block script %}<script src="{% static '' %}"></script>{% endblock %}